{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Does the same for the age */ -}}
{{- $age := "Age Public Encryption Key" -}}
{{- if hasKey . "age" -}}
{{-   $age = .age -}}
{{- else if $interactive -}}
{{-   $age = promptString "age" $age -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name, email, and age with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

encryption: age
age:
  identity: "~/chezmoi-agekey.txt"
  recipient: "{{ $age }}"

