{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh

source "./dock_functions.sh"

declare -a apps=(
	'/System/Applications/Messages.app'
	'/System/Applications/System Settings.app'
	'/Applications/Safari.app'
	'/Applications/Slack.app'
	'/Applications/Alacritty.app'
	'/Applications/Discord.app'
	'/System/Applications/Mail.app'
	'/System/Applications/Reminders.app'
	'/System/Applications/Music.app'
	'/System/Applications/Notes.app'
)

declare -a folders=(
	~/Downloads
)

printf '\n\nSetting Global Mac Settings...\n'
# better key repeat
defaults write NSGlobalDomain InitialKeyRepeat -int 15
defaults write NSGlobalDomain KeyRepeat -int 5
defaults write com.apple.finder "AppleShowAllFiles" -bool "true"
defaults write com.apple.finder "FXRemoveOldTrashItems" -bool "true"
defaults write NSGlobalDomain com.apple.mouse.scaling -float "3.0"

printf '\n\nDock Settings...\n'
# configure Dock
defaults write com.apple.dock "orientation" -string "left"
defaults write com.apple.dock "tilesize" -int "20"
defaults write com.apple.dock "show-recents" -bool "false"

clear_dock
disable_recent_apps_from_dock

for app in "${apps[@]}"; do
	add_app_to_dock "$app"
done

for folder in "${folders[@]}"; do
	add_folder_to_dock $folder
done

killall Dock
{{ end -}}
