{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF


MASPACKAGES=(
497799835 # "Xcode"
1136220934 # "Infuse"
1440147259 # "AdGuard for Safari"
803453959 # "Slack"
)


printf '\nInstalling MacAppStore apps...\n'
for app in ${MASPACKAGES[@]}; do
    mas install ${app}
done
{{ end -}}
