{{- if (eq .chezmoi.os "linux") -}}

#!/bin/bash

NVIM_VERSION="v0.10.1"
#NVIM_VERSION="nightly"
#NVIM_VERSION="stable"

# Download and install stable Neovim
echo "Installing Neovim ${NVIM_VERSION} version..."
curl -LO https://github.com/neovim/neovim/releases/download/${NVIM_VERSION}/nvim-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz
tar -xzf nvim-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz
sudo mv nvim-{{ .chezmoi.os }}-{{ .chezmoi.arch }}/bin/nvim /usr/local/bin/

# Clean up
rm -rf nvim-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz nvim-{{ .chezmoi.os }}-{{ .chezmoi.arch }}

# Verify installation
if command -v nvim >/dev/null 2>&1; then
    echo "Neovim installed successfully!"
    nvim --version
else
    echo "Neovim installation failed"
    exit 1
fi

{{- end }}
