{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh

cp .fonts/TX-02/* ~/Library/Fonts/

{{- end -}}
{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

echo "Installing Nerd Fonts..."

if [ -d "/tmp/nerd-fonts" ]; then
    rm -rf /tmp/nerd-fonts
fi

git clone --depth 1 https://github.com/ryanoasis/nerd-fonts.git /tmp/nerd-fonts

cd /tmp/nerd-fonts
./install.sh IntoneMono

cd ~
rm -rf /tmp/nerd-fonts

echo "Nerd Fonts installation complete"

{{- end }}
