{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

if [ "$SHELL" != "$(which zsh)" ]; then
    echo "Changing default shell to zsh..."
    if ! grep -q "$(which zsh)" /etc/shells; then
        echo "Adding zsh to /etc/shells..."
        echo "$(which zsh)" | sudo tee -a /etc/shells
    fi
    chsh -s $(which zsh)
    echo "Default shell changed to zsh. Please log out and log back in for changes to take effect."
else
    echo "Default shell is already zsh."
fi

{{- end -}}
