{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

tmuxPluginFolder="$HOME/.tmux/plugins/tpm"

# Check if tpm is installed
if [ ! -d "$tmuxPluginFolder" ] || [ -z "$(ls -A $tmuxPluginFolder 2>/dev/null)" ]; then
    echo "Installing tmux plugin manager (tpm)..."
    mkdir -p "$HOME/.tmux/plugins"
    git clone https://github.com/tmux-plugins/tpm "$tmuxPluginFolder"
    
    # Install tmux plugins
    echo "Installing tmux plugins..."
    "$tmuxPluginFolder/bin/install_plugins"
else
    echo "Updating tmux plugin manager..."
    git -C "$tmuxPluginFolder" pull
    
    # Update tmux plugins
    echo "Updating tmux plugins..."
    "$tmuxPluginFolder/bin/update_plugins" all
fi

{{ end -}}

{{- if (eq .chezmoi.os "linux") -}}
#!/bin/bash

tmuxPluginFolder="$HOME/.tmux/plugins/tpm"

# Check if tpm is installed
if [ ! -d "$tmuxPluginFolder" ] || [ -z "$(ls -A $tmuxPluginFolder 2>/dev/null)" ]; then
    echo "Installing tmux plugin manager (tpm)..."
    mkdir -p "$HOME/.tmux/plugins"
    git clone https://github.com/tmux-plugins/tpm "$tmuxPluginFolder"
    
    # Install tmux plugins
    echo "Installing tmux plugins..."
    "$tmuxPluginFolder/bin/install_plugins"
else
    echo "Updating tmux plugin manager..."
    git -C "$tmuxPluginFolder" pull
    
    # Update tmux plugins
    echo "Updating tmux plugins..."
    "$tmuxPluginFolder/bin/update_plugins" all
fi

{{ end -}}
