{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh

themeFolder="$HOME/.config/alacritty/themes"

# Check if the directory is empty
if [ -z "$(ls -A $themeFolder)" ]; then
    echo "Directory is empty, proceeding with cloning..."
    git clone https://github.com/alacritty/alacritty-theme $themeFolder
else
    git -C $themeFolder pull
    echo "Directory is not empty. Skipping cloning and pulling latest."
fi

{{ end -}}
