{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh

printf '\nInstalling Homebrew packages...\n'

brew bundle --force --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

printf '\nRemoving apps not managed in Chezmoi...\n'

brew bundle cleanup --force --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

printf '\nLinking apps with keg-only formulae...\n'

{{ range .packages.darwin.brewlink -}}
brew link --force {{ . | quote }}
{{ end -}}

printf '\nInstalling MacAppStore apps...\n'

{{ range .packages.darwin.mas -}}
mas install {{ . | quote }}
{{ end -}}

printf '\nInstalling Bun global packages...\n'

{{ range .packages.bun.global -}}
bun install --global {{ . | quote }}
{{ end -}}

printf '\nInstalling NVM..\n'

curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/refs/heads/master/install.sh | bash

{{ end -}}
