{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "derailed/k9s"
tap "fluxcd/tap"
tap "github/gh"
tap "go-task/tap"
tap "jesseduffield/lazygit"
tap "oven-sh/bun"
tap "proxmark/proxmark3"
tap "siderolabs/talos"
tap "sst/tap"
tap "talos-systems/talos"
brew "age"
brew "awscli"
brew "chezmoi"
brew "cloudflared"
brew "esbuild"
brew "ffmpeg"
brew "gh"
brew "git"
brew "pinentry"
brew "gnupg"
brew "go"
brew "helm"
brew "httpie"
brew "kustomize"
brew "lazygit"
brew "mkcert"
brew "mosh"
brew "neovim"
brew "podman"
brew "podman-compose"
brew "pre-commit"
brew "prettier"
brew "prettyping"
brew "rclone"
brew "sops"
brew "speedtest-cli"
brew "ssh-audit"
brew "talhelper"
brew "tmux"
brew "tree"
brew "wget"
brew "yt-dlp"
brew "zsh-autosuggestions"
brew "derailed/k9s/k9s"
brew "dty1er/tap/kubecolor"
brew "esolitos/ipa/sshpass"
brew "fluxcd/tap/flux"
brew "go-task/tap/go-task"
brew "oven-sh/bun/bun"
brew "powershell/tap/powershell"
brew "proxmark/proxmark3/proxmark3"
brew "siderolabs/talos/talosctl"
brew "sst/tap/sst"
cask "talosctl"
EOF
{{ end -}}
