{{- if (eq .chezmoi.os "darwin") -}}
{{- $brewPrefix := "/opt/homebrew" -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{- $brewPrefix = "/usr/local" -}}
{{- end -}}
# Brew
set --global --export HOMEBREW_PREFIX {{ $brewPrefix }}
set --global --export HOMEBREW_CELLAR {{ $brewPrefix }}/Cellar
set --global --export HOMEBREW_REPOSITORY {{ $brewPrefix }}

fish_add_path --global --move --path {{ $brewPrefix }}/bin {{ $brewPrefix }}/sbin

if test -n "$MANPATH[1]"
    set --global --export MANPATH '' $MANPATH
end

if not contains {{ $brewPrefix }}/share/info $INFOPATH
    set --global --export INFOPATH {{ $brewPrefix }}/share/info $INFOPATH
end
{{ end -}}
